html, body {
    padding: 0;
    margin: 0;
}

#container {
	width: 30%;
	border: 2px solid black;
	margin: 2em auto;
	opacity: 0.8;
	padding: 10px;
	background-color: white;
	border-radius: 2px;
}

body {
    text-align: center;
    font-family: sans-serif;
}

#weather-image {
	display: block;
	margin: auto;
}

#celsius-container, #fahrenheit-container {
	display: inline-block;
	margin-top: 1rem;
}
#details-left {
	display: inline-block;
	text-align: right;
}

#details-right {
	margin-left: 10px;
	display: inline-block;
	text-align: left;
}

p {
	margin: 8px 0;
}